
body {
    background-color: #E0E0E0;
    margin: 0;
}

pre {
    color: #E0E0E0;
    background-color: #0A2C1E;
    padding-left: 2em;
    border: 1px solid #0A2C1E;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* from CSS3 working draft */
}

#top {
    padding: 1em;
    border-bottom: 4px solid gray;
    height: 52px;
}

#top #menu {
    float: right;
    padding-right: 1em;
    line-height: 48px;
}

#top #logo {
    width: 48px;
    height: 48px;
    padding-left: 1em;
    border: none;
    float: left;
}

#content {
    padding: 1em;
    background-color: #EFEFEF;
}

#bottom {
    border-top: 4px solid gray;
}

/* Code coloring */
.py-src-comment, .c { font-style: italic; color: #49A169; }
.py-src-constant, .bp { color: #497958; }
.py-src-keyword, .k { color: #96DD3B; }
.py-src-identifier, .nf { color: #FEC758; }
.py-src-variable, .n { color: #FB9A4B; }
.py-src-string, .s, .sd { color: #91BB9E; }
.py-src-op, .p, .o { color: white; }
