language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
install:
  # Build/test dependencies
  - pip install -r requirements.txt --use-mirrors
  # Get fab to test fab
  - pip install -e .
  # Install third-party multiprocessing on 2.5
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.5' ]]; then pip install multiprocessing; fi"
script: fab test
notifications:
  email:
    recipients:
      - jeff@bitprophet.org
    on_failure: change
  irc:
    channels: "irc.freenode.org#fabric"
    on_success: change
    on_failure: change
