language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
install:
  # Build/test dependencies
  - pip install -r requirements.txt --use-mirrors
  # Get fab to test fab
  - pip install -e .
  # Install third-party multiprocessing on 2.5
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.5' ]]; then pip install multiprocessing; fi"
  # Deal with issue on Travis builders re: multiprocessing.Queue :(
  - "sudo rm -rf /dev/shm && sudo ln -s /run/shm /dev/shm"
script: fab test
notifications:
  irc:
    channels: "irc.freenode.org#fabric"
    on_success: change
    on_failure: change
  email: false
