# Us, of course
-e .
# TODO: REMOVEME
invoke>=2.0
# Invocations for common project tasks
invocations>=3.0.1
# pytest-relaxed for test organization, display etc tweaks
pytest-relaxed>=2
# pytest-cov for coverage
pytest-cov>=4
# Formatting
# Flake8 5.x seems to have an odd importlib-metadata incompatibility?
flake8>=4,<5
black>=22.8,<22.9
# Coverage!
coverage>=6.2,<7
codecov==2.1.12
# Documentation tools
releases>=2
alabaster==0.7.12
