# Invoke implicitly required by self/pip install -e .
# Invocations for common project tasks
invocations
# Invoke from git, temporarily?
-e git+https://github.com/pyinvoke/invoke#egg=invoke
# pytest-relaxed for test organization, display etc tweaks
pytest-relaxed
pytest
# pytest-cov for coverage
pytest-cov
six
# Mock for test mocking
mock
# Linting!
flake8
# Coverage!
coverage
codecov
# Documentation tools
sphinx
alabaster
releases
# Release tools
semantic_version
wheel
twine
