include AUTHORS
include INSTALL
include LICENSE
include README.rst
recursive-include sites *
recursive-exclude sites/docs/_build *
recursive-exclude sites/www/_build *
include requirements.txt
recursive-include tests *
recursive-exclude tests *.pyc *.pyo
