include AUTHORS
include INSTALL
include LICENSE
include README.rst
recursive-include docs *
recursive-exclude docs/_build *
include requirements.txt
recursive-include tests *
recursive-exclude tests *.pyc *.pyo
